# Dependencies
node_modules/

# Build output
build/

# Environment
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/
.vscode/

# PHP CS Fixer
.php-cs-fixer.cache

# Composer
vendor/
